/*
 * Copyright (c) 2026 Meta Platforms
 * SPDX-License-Identifier: Apache-2.0
 *
 * Build-only overlay for nucleo_h503rb. The STM32H503RB exposes two
 * st,stm32-i3c controllers (i3c1, i3c2) and the package has pinctrl
 * options for both. To actually run the loopback test on hardware,
 * jumper i3c1's SCL/SDA pins (PB6/PB7) to i3c2's (PC6/PC7); twister
 * will execute only when the user passes --fixture i3c_loopback.
 *
 * i2c1 is disabled because it shares PB6/PB7 with i3c1.
 */

#include <zephyr/dt-bindings/i2c/i2c.h>

&i2c1 {
	status = "disabled";
};

&i3c1 {
	pinctrl-0 = <&i3c1_scl_pb6 &i3c1_sda_pb7>;
	pinctrl-names = "default";
	i3c-scl-hz = <12500000>;
	i2c-scl-hz = <I2C_BITRATE_FAST_PLUS>;
	status = "okay";

	loopback_target: target@5400abcd00001234 {
		compatible = "zephyr,i3c-loopback-target";
		reg = <0x54 0xabcd 0x00001234>;
	};
};

&i3c2 {
	pinctrl-0 = <&i3c2_scl_pc6 &i3c2_sda_pc7>;
	pinctrl-names = "default";
	i3c-scl-hz = <12500000>;
	i2c-scl-hz = <I2C_BITRATE_FAST_PLUS>;
	status = "okay";
};

/ {
	aliases {
		i3c-loopback-controller = &i3c1;
		i3c-loopback-target = &i3c2;
	};
};
