# Copyright (c) 2020 Stephanos Ioannidis <root@stephanos.io>
# SPDX-License-Identifier: Apache-2.0

comment "Instruction Set"
# NOTE: These configurations should eventually be derived from the arch ISA and
#       FP support configurations.

config CMSIS_DSP_NEON
	bool "Neon Instruction Set"
	default y
	depends on CPU_CORTEX_A
	help
	  This option enables the NEON Advanced SIMD instruction set, which is
	  available on most Cortex-A and some Cortex-R processors.

config CMSIS_DSP_NEON_EXPERIMENTAL
	bool "Neon Instruction Set"
	depends on CPU_CORTEX_A
	help
	  This option enables the NEON Advanced SIMD instruction set, which is
	  available on most Cortex-A and some Cortex-R processors.

config CMSIS_DSP_HELIUM
	bool "Helium Instruction Set"
	default y
	depends on ARMV8_1_M_MVEI || ARMV8_1_M_MVEF
	help
	  This option enables the Helium Advanced SIMD instruction set, which is
	  available on some Cortex-M processors.

config CMSIS_DSP_HELIUM_EXPERIMENTAL
	bool "Helium Instruction Set"
	depends on ARMV8_1_M_MVEI || ARMV8_1_M_MVEF
	help
	  This option enables the Helium Advanced SIMD instruction set, which is
	  available on some Cortex-M processors.

config CMSIS_DSP_MVEF
	bool "MVEF Instruction Set"
	default y
	depends on ARMV8_1_M_MVEF
	help
	  This option enables the Helium Advanced SIMD instruction set, which is
	  available on some Cortex-M processors.

config CMSIS_DSP_MVEI
	bool "MVEI Instruction Set"
	default y
	depends on ARMV8_1_M_MVEI
	help
	  This option enables the Helium Advanced SIMD instruction set, which is
	  available on some Cortex-M processors.

config CMSIS_DSP_MVE_FLOAT16
	bool "MVEF Float16 Instruction Set"
	default y
	depends on ARMV8_1_M_MVEF && FP16
	help
	  This option enables the Helium Advanced SIMD instruction set, which is
	  available on some Cortex-M processors.

comment "Features"

config CMSIS_DSP_LOOPUNROLL
	bool "Loop Unrolling"
	help
	  This option enables manual loop unrolling in the DSP functions.

config CMSIS_DSP_ROUNDING
	bool "Rounding"
	help
	  This option enables rounding on the support functions.

config CMSIS_DSP_MATRIXCHECK
	bool "Matrix Check"
	help
	  This option enables validation of the input and output sizes of
	  matrices.

config CMSIS_DSP_AUTOVECTORIZE
	bool "Auto Vectorize"
	help
	  This option prefers autovectorizable code to one using C intrinsics
	  in the DSP functions.

config CMSIS_DSP_FLOAT16
	bool "Half-Precision (16-bit Float) Support"
	default y
	depends on FP16
	help
	  This option enables the half-precision (16-bit) floating-point
	  operations support.

config CONFIG_CMSIS_DSP_LAX_VECTOR_CONVERSIONS
	bool "Lax Vector Conversions"
	depends on CMSIS_DSP_HELIUM || CMSIS_DSP_MVEF || CMSIS_DSP_MVEI
	help
	  This option enables the half-precision (16-bit) floating-point
	  operations support.
