/*
 * Copyright (c) 2026 Ryan McClelland
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	i3c0: i3c@600 {
		status = "okay";
		compatible = "zephyr,i3c-emul-controller";
		reg = <0x600 4>;
		#address-cells = <3>;
		#size-cells = <0>;
		i3c-scl-hz = <12500000>;
		i2c-scl-hz = <400000>;
		disable-hj-at-init;

		test_target_a: target_a@5500001234012345678 {
			compatible = "zephyr,i3c-emul-test-target";
			reg = <0x55 0x1234 0x12345678>;
			bcr = <0x00>;
			dcr = <0x6c>;
		};

		test_target_b: target_b@5678abcdef012 {
			compatible = "zephyr,i3c-emul-test-target";
			reg = <0x00 0x5678 0xABCDEF01>;
			assigned-address = <0x42>;
			bcr = <0x00>;
			dcr = <0x6c>;
		};

		/*
		 * Legacy-I2C-on-I3C peripheral. reg = <addr 0 lvr> per the
		 * i3c subsystem's i2c-device convention; the bus emulator
		 * routes its i2c_api.transfer to this node's standard
		 * struct i2c_emul, same as an i2c sensor emul would under
		 * a zephyr,i2c-emul-controller parent.
		 */
		test_i2c_target: i2c-target@2a000000 {
			compatible = "zephyr,i2c-on-i3c-emul-test-target";
			reg = <0x2A 0x00 0x00>;
		};
	};
};
